OWNER_JID="6285xxxxxxxxx@s.whatsapp.net"
OWNER_LID="1502xxxxxxxxxx@lid"
PREFIX="[.!:>]"
PACKNAME="packname"
AUTHOR="author"
EXPOSED_API_KEY="change-me"
REMOVEBG_APIKEY="xx, xx, xx"
OCR_API_KEY="xxx"
EXT_SCRIPT_PATH="/path/to/your/scripts/"
IMGBB_API_KEY="xxx"
GENIUS_API_KEY="xxx"